{% extends 'base.html' %}

{% block content %}
<main class="container p-5">
    <section class="card card-body" >
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam aut voluptatibus tenetur, libero nostrum nisi minus maiores enim optio explicabo molestiae quia. Quae quis, veniam corrupti eum itaque et quibusdam id. Voluptatibus, a. Amet libero, itaque quis iste soluta alias suscipit tempore voluptatem quia optio eos voluptatum nemo cum ullam. Fugiat obcaecati labore non, vel accusamus animi atque expedita. Natus aliquid delectus, porro itaque optio quis sunt error nemo. Excepturi officia corrupti nostrum voluptas eligendi officiis at animi dolor, reprehenderit eaque obcaecati veritatis commodi voluptatibus odio porro est accusantium laborum aperiam, harum quas consectetur? Perferendis repellendus rerum consequatur eveniet velit.</p>
        <div class="text-center" >
            <a class="btn btn-primary" href="/signin/">
                SignIn
            </a>
            <a class="btn btn-primary" href="/signup/" >
                SignUp
            </a>
        </div>
    </section>
</main>
{% endblock %}
