{% extends 'base.html' %}

{% block content %}

<main class="container" >
    <div class="row" >
        <section class="col-md-4 offset-md-4 mt-5">
            <form class="card card-body" action="/signin/" method="POST" >
                {% csrf_token %}
                <h1 class="text-center" >Sign In</h1>
                    {{error}}
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="username" >Username:</label>
                        <input class="form-control" id="username" type="text" name="username" placeholder="Write your username" >
                    </div>
            
                    <div class="mb-3">
                        <label for="password" >Password:</label>
                        <input class="form-control" id="password" type="password" name="password" placeholder="Write your password" >
                    </div>
                
                    <button class="btn btn-primary" >
                        SignIn
                    </button>
            </form>
        </section>
    </div>
</main>

{% endblock %}
